.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-errors{
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  background-color: #FFB2AE;
  max-width: 50%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url("../node_modules/react-responsive-carousel/lib/styles/carousel.min.css");

.carousel {
  margin:auto;
  /* max-width: 50%; */
}

.bacon-ipsum {
  margin: auto;
  padding: 10px;
}

.App-footer {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
