.App {
  text-align: center;
  color:white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 30px;
}

.App-header {
  background-color: rgba(233, 6, 6, 0.55);
  height: 200px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-footer p {
  float: left;
  font-size: small;
  bottom: 5px;
  position: absolute;
  bottom: 0;
}

.form-errors{
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  background-color: rgb(167, 11, 5);
  max-width: 50%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url("../node_modules/react-responsive-carousel/lib/styles/carousel.css");

.carousel {
  margin:auto;
}

.carousel img {
  height: 500px;
}

.bacon-ipsum {
  margin: auto;
  padding: 10px;
}

.nav-navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(173, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(206, 26, 26);
}

.submit {
  padding: 14px 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: black;
  color: white;
}

.submit:hover {
  background-color: rgb(254, 114, 184);
  color: black;
}

